.Viewer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;

    .transition {
        flex: 1;
        display: flex;
        flex-direction: row;
        .fakeFooter {
            display: none;
        }
    }
}

$transitionPreset: cubic-bezier(.51, 0, .19, 1);

.screen-change-enter {
    position: absolute;
    transform: translate(100vw);
    .fakeFooter {
        display: block !important;
    }
}

.screen-change-enter-active  {
    transform: translate(0);
    transition: all .75s $transitionPreset;
}

.screen-change-exit {
    position: absolute;
    transform: translate(0);
    .fakeFooter {
        display: block !important;
    }
}

.screen-change-exit-active {
    transform: translate(-100vw);
    transition: all .75s $transitionPreset;
}