@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.Viewer__footer {
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    // background-color: #222436;
    justify-content: flex-end;

    // button {
    //     @include defaultButton(#80d6ff, 4px, 4px, #004b7a);
    //     color: $whiteButton;
    //     margin-left: auto;
    //     margin-right: .7rem;
    //     height: 3rem;
    //     width: 10rem;
    // }
}